{% extends 'base.html' %}

{% block content %}

{% if form.errors %}

	<p>Ваше имя и пароль не верны. Пожалуйста, попробуйте снова.</p>

{% endif %}

{% if next %}

	{% if user.is_authenticated %}

		<p>Ваш аккаунт не имеет доступа к этой странице. Чтобы продолжить,
		пожалуйста авторизуйтесь с помощью аккаунта, имеющего такой доступ.</p>

	{% else %}

		<p>Пожалуйста, авторизуйтесь для просмотра этой страницы.</p>

	{% endif %}


{% endif %}

<form method='post' action='{% url 'login' %}'>
{% csrf_token %}

<div>
	<td>{{ form.username.label_tag }}</td>
	<td>{{ form.username }}</td>
</div>

<div>
	<td>{{ form.password.label_tag }}</td>
	<td>{{ form.password }}</td>
</div>

<div>
	<input type='submit' value='login' />
	<input type='hidden' name='next' value='{{ next }}'>
</div>
</form>


<p><a href='{% url 'password_reset' %}'>Забыли пароль?</a></p>

{% endblock %}
